<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href='/'>My Blog</a>
    <a href='/listBlog'>List Blogs</a>
    <a href='/addBlog'>Add Blog</a>
    <br/>
    
    <h1><%= title %></h1>
    <% for (var i=0; i < blog.length; i++) { %>
      <hr/>
      <h2><%= blog[i].blogTitle %></h2>
      <p> <%= blog[i].blogText %></p>
      <p> <%= blog[i].createdOnDate %></p>
      <a href='/editBlog/<%= blog[i]._id %>'><img src="/icons/open-iconic-master/svg/pencil.svg" alt="Edit Blog"></a>
      <a href='/deleteBlog/<%= blog[i]._id %>'><img src="/icons/open-iconic-master/svg/trash.svg" alt="Delete Blog"></a>
      <br/>
    <% } %>
    
  </body>
</html>